extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    if(role_auth.permissions.includes("roles_create"))

        +alert-success(5000)
        +alert-error(5000)

        h1(class="mb-4") Create New Role

        form(
            action=`${prefixAdmin}/roles/create`
            id="form-create-role"
            method="POST"
        )
            div(class="form-group")
                label(for="title") Title
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                )

            div(class="form-group")
                label(for="desc") Description
                input(
                    type="text"
                    class="form-control"
                    id="desc"
                    name="description"
                )

            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) + Create