extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-success(5000)
    +alert-error(5000)

    h1(class="mb-4") Edit Role

    form(
        action=`${prefixAdmin}/roles/edit/${role.id}?_method=PATCH`
        id="form-create-role"
        method="POST"
    )
        div(class="form-group")
            label(for="title") Title
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
                value=role.title
            )

        div(class="form-group")
            label(for="desc") Description
            input(
                type="text"
                class="form-control"
                id="desc"
                name="description"
                value=role.description
            )

        button(type="submit" class="btn btn-primary") Save