extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-success(5000)
    +alert-error(5000)

    h1(class="mb-4") Roles list

    .card.mb-3 
        .card-header List of roles
        .card-body
            .row 
                .col-8 
                .col-4.text-right
                    a(
                        href=`${prefixAdmin}/roles/create`
                        class="btn btn-outline-success"
                    ) + Create new role

            table(
                class="table table-hover table-sm"
            )
                thead
                    tr
                        th NO
                        th Roles
                        th Description
                        th Actions
                tbody
                    if(roles.length > 0)
                        each role, index in roles
                            tr
                                td #{index + 1}
                                td #{role.title}
                                td #{role.description}
                                td
                                    a(
                                        href=`${prefixAdmin}/roles/detail/${role.id}`
                                        class="btn btn-info btn-sm"                                      
                                        ) Detail
                                    a(
                                        href=`${prefixAdmin}/roles/edit/${role.id}`
                                        class="btn btn-warning btn-sm ml-1"
                                        ) Edit
                                    button(
                                        class="btn btn-danger btn-sm ml-1" 
                                        button-delete
                                        data-id=role.id
                                    ) Delete
                    else
                        tr 
                            td(colspan="4" class="text-center") No data. No permission groups have been created yet.

    form(   
        action=""
        method="POST" 
        id="form-delete-item"
        data-path=`${prefixAdmin}/roles/delete`
    ) 

    script(src="/admin/js/roles.js") 