extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .product-detail
        .container.my-5
            .row 
                .col-6
                    .inner-thumb
                        img(src=dummyProduct.thumbnail, alt=dummyProduct.title)
                .col-6 
                    h1(class="inner-title") #{dummyProduct.title}

                    if (dummyProduct.category)
                        div(class="inner-category") 
                            span Category:
                                a(href=`/products/${dummyProduct.category.slug}`) #{dummyProduct.category.title}

                    if (dummyProduct.newPrice)
                        div(class="inner-new-price") #{dummyProduct.newPrice}$

                    if (dummyProduct.price)
                        div(class="inner-old-price") #{dummyProduct.price}$

                    if (dummyProduct.discountPercentage)
                        div(class="inner-percent") Discount: <span>#{dummyProduct.discountPercentage}%</span>

                    if (dummyProduct.stock)
                        div(class="inner-stock") Stock: <span>#{dummyProduct.stock}</span> products

                    form(
                        action=`/cart/add/${dummyProduct.id}`
                        method="POST"
                    ) 
                        input(
                            class="form-control mb-2"
                            type="number"
                            name="quantity"
                            value="1"
                            min="1"
                            max=dummyProduct.stock
                        )
                        button(
                            class="btn btn-success btn-block"
                            type="submit"
                        ) Add to Cart

        hr

        .container.my-5 
            .row 
                .col-12 
                    +box-head("Description")
                    .inner-desc !{dummyProduct.description}